<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de QR Code</title>
</head>

<body>
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 col-xs-6 col-md-8">
            <div class="card shadow">
                <div class="card-body mt-lg-2">
                    <form action="/" method="POST" class="form">
                        <div class="mb-3 text-secondary">
                            <i class="bi bi-code"></i>
                            <label for="inputURL" class="form-label">URL</label>
                            <input type="text" name="inputURL" id="inputURL" class="form-control">
                        </div>
                        <div class="d-grid gap-2 col-8 mx-auto mt-lg-5">
                            <input type="submit" value="Gerar QR Code"
                                class="btn btn-primary text-light text-uppercase fs-5"></input>
                        </div>
                        <input type="checkbox" name="geracaoMassa">Geração em massa</input>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</body>

</html>